@font-face {
  font-family: 'ENV';
  src: url('fonts/ENV.ttf'); /* IE9 Compat Modes */
}

body{
  background-color: #F5F5F5;
}

header h1{
  font-family: ENV;
  font-weight: 100;
  font-size: 3vw;
  margin: 0;
}
