@font-face {
  font-family: 'ENV';
  src: url('fonts/ENV.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'lyon';
  src: url('fonts/lyon.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'TimesN';
  src: url('fonts/TimesN.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'TimesN';
  src: url('fonts/TimesN.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Favorit-LightMono';
  src: url('fonts/Favorit-LightMono.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Favorit-Light';
  src: url('fonts/Favorit_Light.otf'); /* IE9 Compat Modes */
}



@font-face {
  font-family: 'Plantin';
  src: url('fonts/Plantin.otf'); /* IE9 Compat Modes */
}


body{
  background-color: #F5F5F5;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a{
  color: black;
  text-decoration: none;
}


p{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.main_container,
.about_container_main_content,
.source_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.about_container_main_content h2{
  font-family: Plantin;
  font-weight: 100;
  border-bottom: 1px dotted;
  padding-bottom: 2vw;
}

.about_container_main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4vw;
  border-bottom: 2px dotted;
  width: 50vw;
  padding-bottom: 4vw;
}


/* #main_containter_contact{
  background-color: black;
} */


.about_container_main span{
  font-family: plantin;
  font-size: 1vw;
  margin-bottom: 3vw;
  display: none;
}

.about_container a{
  border-bottom: 1px dotted;
}
.news_container a{
  border-bottom: 1px dotted;
}


.bot_input_question_section{
  border-bottom: 1px solid;
  width: 100%;
  padding-bottom: 1vw;
}

.bot_input_prediction_section{
  padding-top: 1vw;
}

.bot_input_prediction_section p{
  font-family: Plantin;
}

textarea:focus, input:focus{
    outline: none;
}

textarea,input{
  -webkit-appearance: none;
  border-color: none;
}

.bot_input_question_section input{
  height: 2vw;
  border-radius: 5px;
  padding: 0.2vw;
}

.bot_input_question_section button{
  width: 50%;
  margin-top: 1vw;
  margin-bottom: 1vw;
  background-color: none;
}


.first_fold_container{
  display: flex;
  align-items: end;
  height: 100vh;
  position: relative;
  z-index: 10;
  flex-direction: row-reverse;
  border-bottom: 1px dotted;
}

.displayed_metadata{
  height: 100%;
  width: 35vw;
  overflow: scroll;
  background-color: #F5F5F5;
}


.first_fold_cta_tweet{
  height: 5vh;
  background-color: #F5F5F5;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  border-top: 1px dotted;
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_fold_cta_tweet div{
  display: none;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_fold_cta_tweet div span{
  display: none;
  font-family: Favorit-LightMono;
  font-size: 1vw;
  padding: 0.9vw;
  border-radius: 10px;
}


.sources_container_main_container{
  cursor: pointer;
}


.typed_tweets{
  width: 65vw;
  background-color: black;
  height: 100%;
  overflow: scroll;
  border-left: 1px dotted;
}


.typed_tweets::-webkit-scrollbar {
    display: none;
}


.typed_tweets div{
  margin-left: 2vw;
  margin-top: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
  border-bottom: 1px dotted #e8e8e8;
  padding-bottom: 2vw;
}

.typed_tweets div:last-child{
  border-bottom: none;
  margin-bottom: 0;
}

.typed_tweets div span{
  font-family: Plantin;
  font-size: 2.5vw;
  color: #e8e8e8;
}

.displayed_metadata::-webkit-scrollbar {
    display: none;
}

.metadata_first_fold{
  margin-left: 2vw;
  margin-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-bottom: 1px dotted;
}


.metadata_first_fold span{
  display: block;
  font-family: plantin;
  font-size: 1.2vw;
  text-indent: 0.3vw !important;
  overflow-wrap: break-word;
}

.metadata_first_fold span:first-child,
.metadata_first_fold span:last-child{
  text-indent: 0 !important;
}

.metadata_source_component span{
  display: block;
  font-family: plantin;
  font-size: 1.1vw;
  text-indent: 1vw !important;
  overflow-wrap: break-word;
  text-transform: uppercase;
  color: black;
}

.pdf_source_component{
  display: flex;
  align-items: baseline;
}


.pdf_source_component div{
  width: 50%;
}

.pdf_source_component span{
  font-family: plantin;
  font-size: 1.1vw;
  text-transform: uppercase;
  color: black;
  padding: 1vw;
  border-radius: 10px;
  border: 1px dotted black;
  font-weight: bolder;
}

.tweet_maped{
  margin-bottom: 1vw;
}

.tweet_maped span{
  font-family: plantin;
    font-size: 1.4vw;
    color: black;
}



.source_container_body section h1{
  text-transform: uppercase;
  font-family: plantin;
  font-size: 1.5vw;
  color: black;
  margin: 0;
  margin-bottom: 3vw;
  border-bottom: 1px dotted;
}

.source_container_body section{
  background-color: #F5F5F5;
  border-radius: 20px;
  padding: 4vw;
  margin-bottom: 1vw;
  max-width: 77vw;
}

.metadata_source_component span:first-child,
.metadata_source_component span:last-child{
  text-indent: 0 !important;
}

.loading_screen{
  margin: 3vw;
  margin-left: 7.5vw;
  line-height: 1.6;
  text-transform: uppercase;
  font-family: Plantin;
  font-size: 1.2vw;
}

.loading_screen span{
  border-bottom: 1px solid black;
}

.typed_span,
.Cursor--blinking{
  font-family: Plantin;
  line-height: 1.6;
  font-size: 3.6vw;
}

.sticky_container{
  position: fixed;
  margin-left: 2vw;
  padding-bottom: 2vw;
  top: 2vw;
  z-index: 10;
  display: block;
  width: 20vw;
}

.sticky_container div .first{
  font-family: plantin;
  text-transform: inherit;
  border-bottom: none;
  margin-bottom: 1vw;
  font-size: 1.4vw;
  text-transform: uppercase;
  cursor: pointer;
}


.source_indicator{
  position: fixed;
  right: 2vw;
  top: 2vw;
  background-color: #F5F5F5;
  border-radius: 20px;
  padding: 1vw;
  border: 1px dotted;
}

.source_indicator span{
  text-transform: uppercase;
  font-family: plantin;
  font-weight: lighter;
}


.source_tweet_indicator{
  position: fixed;
  left: 2vw;
  top: 2vw;
  background-color: #F5F5F5;
  border-radius: 20px;
  padding: 1vw;
  border: 1px dotted;
}

.source_tweet_indicator span{
  font-weight: lighter;
}

.sticky_container div .last{
  border-bottom: none;
}


.sticky_container span{
  display: block;
  border-bottom: 1px dotted;
  padding-bottom: 0.7vw;
  padding-top: 0.7vw;
  font-family: Plantin;
  font-size: 1.2vw;
}



.chatbox_container{
  width: fit-content;
  border: 1px dotted;
  border-radius: 20px;
  margin: 2vw;
  padding: 1vw;
  padding-left: 3vw;
  padding-right: 3vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F5F5F5;
  display: flex;
}

.typed_container{
  width: 85vw;
  margin-top: 10vw;
  margin-bottom: 7vw;
  height: 18vh;
  border-bottom: 1px dotted black;
}


.sources_cell_container{
  width: 85vw;
  display: flex;
  align-items: baseline;
  padding-top: 3vw;
  padding-bottom: 3vw;
  border-bottom: 1px dotted #F5F5F5;
}


.caption_first_fold_container{
  width: 100vw;
  display: flex;
  align-items: baseline;
  background-color: #F5F5F5;
  z-index: 10;
  position: relative;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.caption_first_fold_container div{
  width: 33.33vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.caption_first_fold_container div span{
  font-family: Favorit-LightMono;
font-size: 1vw;
}


.img_first_fold_container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-top: 1px dotted #F5F5F5;
  position: relative;
  z-index: 10;
}

.img_first_fold_container div{
  width: 33.33vw;
  height: 105vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px dotted #F5F5F5;
  flex-direction: column;
}

.img_first_fold_container div:first-child{
  border-left: 1px dotted #F5F5F5;
}

.img_full img{
  width: 89%;
  background-color: #e8e8e8;
}

ul{
  margin-bottom: 0;
}

.about_container_main_master{
  width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_first_fold_container div span{
  color: white;
  position: absolute;
  bottom: 3vw;
  margin: 0;
  font-family: plantin;
  font-size: 1vw;
  text-align: center;
  text-transform: uppercase;
}


.img_first_fold_container span{
  margin-top: 3vw;
  margin-bottom: 3vw;
}

sup {
  font-family: plantin;
  font-size: 1vw;
  font-weight: 600;
}


.black{
  background-color: black;
}

.reverse{
  flex-direction: row-reverse;
}

.sources_cell_container span{
  font-family: Plantin;
  font-size: 1.4vw;
  color: #F5F5F5;
}

.source_container{
  background-color: black;
  padding-top: 3vw;
  padding-bottom: 3vw;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  position: relative;
  z-index: 100;
}



.sources_cell_container_first{
  width: 10%;
}

.sources_cell_container_second{
  width: 80%;
  display: flex;
  align-items: baseline;
}

.sources_cell_container_second div{
  width: 50%;
  padding-right: 2vw;
}

.sources_cell_container_third{
  width: 10%;
}

.sources_cell_container_third div{
  text-align: end;
}


.firstMain div span{
  color: black;
  font-family: SaolText-Light;
  font-weight: 100;
  font-size: 4vw;
}

.info_text_container,
.who_container,
.contact_container,
.acknowledgments_container,
.news_container,
.about_container{
  padding-top: 6vw;
  padding-bottom: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_container{
  border-bottom: none;
}

.about_container div div:last-child .about_container_main{
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}



.about_container div div:last-child .about_container_main h1{
  display: none;
}

.headlines{
    width: 85vw;
}

.headlines h1{
  font-family: Plantin;
  font-size: 2.7vw;
  text-transform: uppercase;
  font-weight: 100;
}

.info_text_container p{
  margin-bottom: 3vw;
}

.info_text_container p:first-child{
  margin-bottom: 6vw;
  font-family: Plantin;
  font-size: 3vw;
  width: 65vw;
  text-align: center;
}


.info_text_container p:last-child{
  font-family: Plantin;
  line-height: 1.4;
  font-size: 1.4vw;
  margin-bottom: 0;
  width: 50vw;
  text-align: left;
}


.about_container_main_content_inner{
  width: 54vw;
}

.source_container p{
  margin-bottom: 3vw;
  font-family: Plantin;
  line-height: 1.6;
  font-size: 2.6vw;
  margin-bottom: 3vw;
}

.source_container p span{
  border-bottom: 1px dotted black;
}

.background_images_container .group_1 img:first-child{
  left: 2vw;
  bottom: 12vw;
}

.background_images_container .group_1 img:nth-child(2){
    left: 12vw;
    top: 24vw;
}

.background_images_container .group_1  img:nth-child(3){
    left: 12vw;
    bottom: 0;
}


.background_images_container .group_2 img:first-child{
  left: 2vw;
  bottom: 2vw;
}

.background_images_container .group_2 img:nth-child(2){
  left: 2vw;
  top: 30vw;
}


.background_images_container .group_3 img:first-child{
  right: 2vw;
  bottom: 7vw;
}

.background_images_container .group_3 img:nth-child(2){
  right: 2vw;
  top: 30vw;
}

.background_images_container .group_4 img:first-child{
  right: 2vw;
  bottom: 39vw;
}

.background_images_container .group_4 img:nth-child(2){
  right: 2vw;
  top: 20vw;
}


.background_images_container .group_5 img:first-child{
  right: 4vw;
  top: 5vw;
}


.background_images_container .group_6 img:first-child{
  right: 4vw;
  top: 5vw;
}

.background_images_container .group_8 img:first-child{
  left: 4vw;
  bottom: 18vw;
  display: none;
}

.background_images_container .group_7 img:first-child{
  right: 4vw;
  top: 10vw;
}

.background_images_container .group_9 img:first-child{
  left: 4vw;
  bottom: 10vw;
}

.background_images_container .group_9 img:nth-child(2){
  right: 4vw;
  bottom: 10vw;
}


.background_images_container .group_10 img:first-child{
  left: 4vw;
  bottom: 10vw;
  display: none;
}


.background_images_container .group_11 img:first-child{
  right: 5vw;
  bottom: 10vw;
}


.background_images_container{
  z-index: 100;
}

.background_images_container img{
  position: fixed;
  /* filter: drop-shadow(2px 4px 6px black); */
}

.background_images_container .group_1 .small{
  max-width: 5vw;
}

.background_images_container .group_1 .big{
  max-width: 11vw;
}


.background_images_container .group_2 .big{
  max-width: 22vw;
}

.background_images_container .group_2 .small{
  max-width: 1vw;
}

.background_images_container .group_3 .big{
  max-width: 20vw;
}

.background_images_container .group_3 .small{
  max-width: 4vw;
}


.background_images_container .group_4 .big{
  max-width: 16vw;
}

.background_images_container .group_4 .small{
  max-width: 6vw;
}

.background_images_container .group_5 .big{
      max-width: 23vw;
}

.background_images_container .group_5 .small{
  max-width: 6vw;
}


.background_images_container .group_6 .big{
  max-width: 7vw;
}


.background_images_container .group_7 .big{
  max-width: 10vw;
}


.background_images_container .group_8 .big{
    max-width: 53vw;
}

.background_images_container .group_9 .small{
  max-width: 10vw;
}

.background_images_container .group_9 .big{
  max-width: 20vw;
}

.background_images_container .group_10 .small{
  max-width: 20vw;
}

.background_images_container .group_11 .small{
  max-width: 20vw;
}


.email_form{
  flex-direction: column;
  display: flex;
  align-items: baseline;
  width: 45vw;
}

.email_form input, .email_form textarea{
  width: 43vw;
  background-color: #e8e8e8;
  color: none;
  border: 1px dotted black;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
  font-family: Plantin;
  font-size: 1.4vw;
  padding: 1vw;
  color: black;
}

.email_form input::placeholder,
.email_form textarea::placeholder{
  color: black;
  text-transform: uppercase;
}

.email_form input{
  margin-bottom: 2vw;
}

.email_form a{
  margin-top: 2vw;
  background-color: #e8e8e8;
  border: 1px dotted;
  padding: 1vw;
  font-family: Favorit-LightMono;
}


.d3_component{
  width: 95vw;
  background-color: transparent;
  height: 100vh;
  border: 1px dotted;
}

.svg_animation{
  border: 1px dotted black;
}

.visualisation_menu{
  display: flex;
  margin-bottom: 3vw;
  width: 80vw;
  margin-top: 4vw;
}

.visualisation_menu span{
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1vw;
  border: 1px dotted;
  margin-right: 2vw;
  padding: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 20px;
}


.sources_body_container{
  margin-bottom: 3vw;
  border-bottom: 1px dotted;
}


.about_container h1,
.news_container h1{
  margin-top: 0;
  margin-bottom: 3vw;
  font-family: Plantin;
  font-size: 2.7vw;
  width: 65vw;
  text-align: center;
  font-weight: lighter;
}

.about_container p,
.news_container p{
  font-family: Plantin;
  line-height: 1.4;
  font-size: 1.5vw;
  margin-bottom: 0;
  width: 50vw;
}

.typed_code{
  position: absolute;
    top: 200vh;
}

.typed_code img{
  width: 10vw;
}


.who_container,
.contact_container,
.acknowledgments_container{
  display: flex;
  align-items: baseline;
  width: 50vw;
  border-bottom: 1px dotted;
}


.large_image_section{
  width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vw;
    background-color: black;
    padding-bottom: 5vw;
}

.large_image_section img{
  width: 75vw;
}

.who_container p,
.acknowledgments_container p{
  font-family: Plantin;
  line-height: 1.4;
  font-size: 1.2vw;
}

.who_container a,
.acknowledgments_container a{
  font-family: Plantin;
  line-height: 1.4;
  font-weight: lighter;
  font-size: 1.2vw;
  border-bottom: 1px dotted;
}

.who_container section,
.acknowledgments_container section{
    margin-bottom: 3vw;
}


.who_container section{
  display: flex;
  align-items: baseline;
}


.who_container section div:first-child{
  width: 40%;
}

.who_container section div:last-child{
  width: 60%;
}

.who_container section:last-child,
.acknowledgments_container section:last-child{
  margin-bottom: 0;
}

.bot_component_container{
  position: fixed;
  height: 30vw;
  padding: 1vw;
  width: 25vw;
  bottom: 0;
  right: 0;
  box-shadow: -1px 0px 4px 2px #e4e4e4;
  margin: 2vw;
  background-color: #F5F5F5;
  border-radius: 20px;
  z-index: 10000;
  padding-top: 1vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: scroll;
}

.bot_component_container div{
  display: flex;
  flex-direction: column;
}

.bot_component_container span{
  margin: 0.5vw;
  margin-left: 1vw;
  margin-bottom: 0;
  background-color: black;
  color: #F5F5F5;
  padding: 1vw;
  font-size: 1vw;
  border-radius: 20px;
  font-family: plantin;
}

.bot_component_container span a{
  color: #F5F5F5;
}

.bot_icon{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 3vw;
}

.bot_icon span{
  font-family: plantin;
  text-transform: uppercase;
  font-weight: 100;
  color: #F5F5F5;
  padding: 1vw;
  border-radius: 20px;
  background-color: black;
}


.who_container section h1,
.acknowledgments_container section h1{
  font-family: Plantin;
  font-size: 2vw;
  font-weight: 100;
  margin: 0;
  margin-bottom: 2vw;
  text-align: left;
}


.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  text-align: left;
  animation:
    typing 3.5s steps(40, end)
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
